.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: $md-size 0 0 0;
    padding: 0 $md-size;
}

.add-option {
    display: flex;
    flex-direction: column;
    padding: $md-size;

    &__input {
        flex-grow: 1;
        background-color: $dark-blue;
        border: 0;
        border-bottom: 0.3rem solid darken($dark-blue, 10%);
        color: $off-white;
        padding: $sm-size;
        margin: 0 0 $sm-size 0;
    }
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
        &__input {
            margin: 0 $sm-size 0 0;
        }
    }
}
