.widget {
    background-color: $light-blue;
    margin-bottom: $xl-size;
    &__header {
        background-color: $blue;
        color: $off-white;
        padding: $md-size;
        display: flex;
        justify-content: space-between;
        &__title {
        }
    }
    &__message {
        border-bottom: 1px solid lighten($light-blue, 10%);
        color: $off-white;
        margin: 0;
        padding: $lg-size;
        text-align: center;
    }
}
